### Indexing

In [1]:
# string
x = "Ali"
print(x[0])

# list
x = ['gibran', 'bahlil', 'prabowok', 'jokowi']
print(x[0])

# tuple
x = ('anis', 'tom lembong', 'janggar', 'mafud')
print(x[2])

A
gibran
janggar

### Slicing
slicing substring, sublist, subtuples using indexes. <br>
[start : stop : step]

In [2]:
x = 'computer'
print(x[1:4])
print(x[1:6:2])
print(x[3:])
print(x[:5])
print(x[-3:])
print(x[:-4])

omp
opt
puter
compu
ter
comp

### Adding

In [3]:
# string
x = "ejen" + "ali"
print(x)
# list
x = ['bahlil', 'budi ari', 'gibran'] + ['prabowok']
print(x)
# tuple
x = ('budi ari', 'bahlil', 'prabowok') + ('jendral te en i',)
x

ejenali
['bahlil', 'budi ari', 'gibran', 'prabowok']

('budi ari', 'bahlil', 'prabowok', 'jendral te en i')

### Multiplying

In [4]:
# string
x = 'ali' * 3
print(x)
# list
x = [1,2] * 3
print(x)
# tuple
x = (23, 22) * 3
print(x)

alialiali
[1, 2, 1, 2, 1, 2]
(23, 22, 23, 22, 23, 22)

### Checking Membership

In [5]:
# sting
x = "ali"
print('a' in x)
# list
x = ['prabowok', 'anis', 'janggar']
print('prabowok' not in x)
# tuples
x = ('ivan gunawan', 'hotman paris') + ('uni bakwan',)
print('uni bakwan' in x)

True
False
True

### Enumerate

In [6]:
x = [4,6,8]
for item in x:
    print(item)
print('--------------')
x = [4,6,8]
for index, item in enumerate(x):
    print(index, item)

4
6
8
--------------
0 4
1 6
2 8

### Length

In [7]:
# string
x = "Ali"
print(len(x))
# list
x = ['Ali', 'victor','bakar', 'alicia']
print(len(x))
# tuple
x = ('mangga', 'apel', 'semangka', 'melon', 'anggur')
print(len(x))

3
4
5

### Min

In [8]:
# string
x = "ssa"
print(min(x))
# list
x = ['ali', 'bakar', 'alicia']
print(min(x))
# tuple
x = ('xn', 'jj', 'ac')
print(min(x))
# number
z = 1, 3, 4, 5, 6
print((z))
z = [2121, 32121, 5432, 1921, 111911]
print(min(z))
print(max(z))

a
ali
ac
(1, 3, 4, 5, 6)
1921
111911

### Sum

In [9]:
x = [1, 2, 10, 10]
print(sum(x))
print(sum(x [:2]))

23
3

### Sort

In [10]:
# string
x = "ali"
print(sorted(x))
# list
x = ['ali', 'bakar', 'alicia']
print(sorted(x))

# numbrr# numbrr
z = [1 , 2, 7, 4, 8, 8, 8, 10]
print(sorted(z))

['a', 'i', 'l']
['ali', 'alicia', 'bakar']
[1, 2, 4, 7, 8, 8, 8, 10]

### count

In [11]:
x = "Ali"
print(x.count('A'))
x = ['Ali', 'victor', 'Ali']
print(x.count('Ali'))
# numbrr
z = [1121, 12, 12, 12, 124, 123]
print(z.count(12))

1
2
3

### Index

In [12]:
x = "Ali"
print(x.index('i'))
x = ['Ali', 'bakar', 'cendol']
print(x.index('bakar'))

z = [1, 4, 8 ,6 , 4, 5]
print(z.index(5))

2
1
5

### Unpacking

In [13]:
x = ['ali', 'victor', 'alicia']
a, b, c = x
print(a)

ali

## List

In [14]:
x = list()
print(x)
y = [2, 'Ali', 12, 1]
print(y)
tuple1 = (1, 2)
z = list(tuple1)

[]
[2, 'Ali', 12, 1]

In [15]:
# list comperhension
x = [x for x in range(1, 11)]
print(x)

z = [i*2 for i in range(10) if i > 0]
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Delete

In [16]:
x = [12, 5, 8, 1, 14]
print(x)
del(x[1])

[12, 5, 8, 1, 14]

In [17]:
del(x) # the x is no longer exist

### Append

In [18]:
x = [1, 5, 6, 6, 7, 2, 9, 8]
j = 'ali'
x.append(j)
x

[1, 5, 6, 6, 7, 2, 9, 8, 'ali']

### Extend

In [19]:
x = [12, 3, 5, 1, 6]
y = [12, 5]
x.extend(y)
x

[12, 3, 5, 1, 6, 12, 5]

### Insert

In [20]:
x = [1, 2, 3, 5, 6]
x.insert(3, 4) # (position, items)
x.insert(0, 'ali')
x

['ali', 1, 2, 3, 4, 5, 6]

### pop

In [21]:
x = [1, 6, 3, 5, 2]
x.pop() # pop out last list
x.pop(0) # pop out by index
print(x) # popped
print(x.pop())

[6, 3, 5]
5

### Remove

In [22]:
x = [123, 1, 2, 5, 7, 1]
x.remove(1)
x

[123, 2, 5, 7, 1]

### Reverse

In [23]:
x = [1, 2, 3, 4]
x.reverse()
x

[4, 3, 2, 1]

In [24]:
x = [1, 2, 3, 4, 5, 11, 23, 43, 6, 7]
x.sort(reverse=True)
x

[43, 23, 11, 7, 6, 5, 4, 3, 2, 1]

# Tuple <br>
- not immutable <br>
- faster than list <br>
- useful for fixed data

<b>constructor</b> - how to make tuple

In [25]:
x = ()
print(x)

x = (1, 2, 3)
print(x)

x = 1, 2, 3, 4
print(x, type)

x = 100,
print(x, type)

z = 'Ali',
print(z, type)

()
(1, 2, 3)
(1, 2, 3, 4) <class 'type'>
(100,) <class 'type'>
('Ali',) <class 'type'>

In [27]:
# list to tuple
x = [1, 2, 3, 4]
z = tuple(x)
type(z)

tuple

<b>Tuple are immutable</b>

In [130]:
x = (1, 2, 3, 4)
# print(x[1] = 5) # error
# del(x[1]) # error

# tuple if inside it have a list
z = ([1, 2, 4], 1, 4, 5, [1, 1, 5, 6])
print(z[0][2])
z[4][3]

# concatinate
z += 1,
print(z)

# or
i = 10,
j = z + i
print(j)

4
([1, 2, 4], 1, 4, 5, [1, 1, 5, 6], 1)
([1, 2, 4], 1, 4, 5, [1, 1, 5, 6], 1, 10)